*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url(img/header.png);
    background-size: cover;
}

.header
{
    width: 100%;
    height: 17vh;
    position: fixed;
    border-bottom: 6px;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
    background: white;
    z-index: 9;
}

.nav
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    justify-content: space-around;
}

#logo_img
{
    height: 15vh;
    cursor: pointer;
}

nav
{
    align-items: center;
    margin-top: 50px;
    margin-right: 20px;
}

nav ul
{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav ul li
{
    padding: 10px 25px;
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-left: 10px;
    margin-right: 10px;
    transition: color 0.4s;
}

nav ul li a
{
	text-decoration: none;
	font-size: 25px;
 	color: black;
}

nav ul li a:hover
{
    cursor: pointer;
}

nav ul li::after
{
    content: "";
    width: 100%;
    height: 80%;
    z-index: -1;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: orange;
    border-radius: 20px;
    position: absolute;
    opacity: 0;
    transition: top 0.4s, opacity 0.4s;
}

nav ul li:hover::after
{
    opacity: 1;
    top: 50%;
}

.search
{
    margin-top: 9vh;
    border: none;
    display: flex;
    
}

#search_inp
{
    width: 20vw;
    height: 27px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    outline: 0;
    border: solid 1px orange;
}

.searh_btn
{
    width: 60px;
    height: 27px;
    background: orange;
    outline: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: solid 1px orange;
}

.searh_btn:hover
{
    cursor: pointer;
}


.cover
{
    padding-top: 12vh;
    margin-bottom: 40px;
}

.login
{
    width: 500px;
    height: 530px;
    padding: 50px;
    border-radius: 6px;
    border: 1px solid;
    background-color: whitesmoke;
    margin-left: 500px;
    position: relative;
}

.login span
{
    width: 100%;
    font-weight: bold;
    padding: 0 10px;
    cursor: pointer;
    font-size: 40px;
    margin-left: 20px;
}

p
{
    font-size: 20px;
    font-weight: 200;
}

button
{
    padding: 8px;
    background-color: orange;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
    width: 85px;
    text-align: center;
    font-size: 14px;
    font-weight: 200;
}

button:hover
{
    background-color: rgb(100, 84, 53);
    
}

.form_head
{
    display: inline-block;
}

.login
{
    overflow: hidden;
}

form
{
    padding: 0 20;
    position: absolute;
    max-width: 300px;
    top: 130px;
    margin-left: 50px;
    transition: transform 1s;
    overflow: hidden;
}
.form_li
{
    text-decoration: none;
    color: black;
}
form input
{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid;
}

#Login
{
    left: -400px;
}

#Sign
{
    left: 0;
}

#line
{
    width: 130px;
    height: 3px;
    border: none;
    background-color: orange;
    margin-top: 10px;
    transform: translateX(-110px);
    transition: transform 1s;
}

footer
{
    background-color: rgb(41, 34, 34);
    width: 100%;
   color: white;
   margin-top: 10px;
   padding-top: 50px;
}

.fheader
{
    font-size: 27px;
    font-weight: 400;
    margin-bottom: 10px;
}

.fcontainer
{
    display: flex;
    justify-content: space-around; 
}

.fimg
{
    cursor: pointer;
}

.flist
{
    list-style: none;
    margin-bottom: 6px;
    cursor: pointer;
}

.flist li
{
    margin-bottom: 5px;
    opacity: .5;
    padding: 3px;
}

.flist li:hover
{
    opacity: 1;
    padding: 5px;
}
.media_head
{
    margin-left: 70px;
}
.smedia
{
    margin-left: 50px;
    padding: 15px;
}

.social
{
    color: white;
}

hr
{
    width: 55vw;
    border: 1px solid orange;
    margin-left: 300px;    
}

.copyright
{
    text-align: center;
}

.cp
{
    padding: 0;
    margin-bottom: 0;
}